<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nantimes.vicloth.mapping.BodyMapper">
	<resultMap id="BaseResultMap" type="com.nantimes.vicloth.pojo.Body" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Height" property="height" jdbcType="VARCHAR" />
    <result column="Weight" property="weight" jdbcType="VARCHAR" />
    <result column="ArmLength" property="armLength" jdbcType="VARCHAR" />
    <result column="LegLength" property="legLength" jdbcType="VARCHAR" />
    <result column="Waist" property="waist" jdbcType="VARCHAR" />
    <result column="Bust" property="bust" jdbcType="VARCHAR" />
    <result column="EyeMidColor" property="eyeMidColor" jdbcType="VARCHAR" />
    <result column="Face" property="face" jdbcType="VARCHAR" />
    <result column="HairId" property="hairId" jdbcType="VARCHAR" />
    <result column="Gender" property="gender" jdbcType="VARCHAR" />
  </resultMap>
  
  

  <sql id="Base_Column_List" >
    Id, Height, Weight, ArmLength, LegLength, Waist,Bust, EyeMidColor, Face,HairId,Gender
  </sql>
  
    <insert id="insert" parameterType="com.nantimes.vicloth.pojo.Body" >
    	insert into body (Id, Height, Weight, 
      	ArmLength, LegLength,Waist,Bust, EyeMidColor, 
      	Face,HairId,Gender)
    	values (#{id,jdbcType=INTEGER}, #{height,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      	#{armLength,jdbcType=VARCHAR}, #{legLength,jdbcType=VARCHAR},#{waist,jdbcType=VARCHAR},
      	#{bust,jdbcType=VARCHAR}, #{eyeMidColor,jdbcType=VARCHAR},#{face,jdbcType=VARCHAR},
      	#{hairId,jdbcType=VARCHAR},	#{gender,jdbcType=VARCHAR})
    
  </insert>
  
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from body
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
  
    <update id="updateByPrimaryKey" parameterType="com.nantimes.vicloth.pojo.Body" >
      update body
      set Height = #{height,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=VARCHAR},
      ArmLength = #{armLength,jdbcType=VARCHAR},
      LegLength = #{legLength,jdbcType=VARCHAR},
      Waist = #{waist,jdbcType=VARCHAR},
      Bust = #{bust,jdbcType=VARCHAR},
      EyeMidColor = #{eyeMidColor,jdbcType=VARCHAR},
      Face = #{face,jdbcType=VARCHAR},
      HairId = #{hairId,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=VARCHAR} 
      where Id = #{id,jdbcType=INTEGER}
  	</update>
    <update id="updateByPrimaryKeySelective" parameterType="com.nantimes.vicloth.pojo.Body" >
    update body
    <set >
      <if test="height != null" >
        Height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        Weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="armLength != null" >
        ArmLength = #{armLength,jdbcType=VARCHAR},
      </if>
      <if test="legLength != null" >
        LegLength = #{legLength,jdbcType=VARCHAR},
      </if>
      <if test="waist != null" >
        Waist = #{waist,jdbcType=VARCHAR},
      </if>
 
      <if test="bust != null" >
        Bust = #{bust,jdbcType=VARCHAR},
      </if>
      <if test="eyeMidColor != null" >
        EyeMidColor = #{eyeMidColor,jdbcType=VARCHAR},
      </if>
      <if test="face != null" >
        Face = #{face,jdbcType=VARCHAR},
      </if>
      <if test="hairId != null" >
        HairId = #{hairId,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        Gender = #{gender,jdbcType=VARCHAR},
      </if>                  
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateHair">
  	update body
  	<set>
  		<if test="hair != null" >
        	HairId = #{hair,jdbcType=VARCHAR}
    	</if>
  		where Id = #{id,jdbcType=INTEGER}
  	</set>

  </update>
</mapper>