<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nantimes.vicloth.mapping.HairMapper" >
	<resultMap id="BaseResultMap" type="com.nantimes.vicloth.pojo.Hair" >
    	<id column="Id" property="id" jdbcType="INTEGER" />
    	<result column="Url" property="url" jdbcType="VARCHAR" />
    	<result column="HairId" property="hairId" jdbcType="VARCHAR" />
    	<result column="Color" property="color" jdbcType="VARCHAR" />
    	<result column="Gender" property="gender" jdbcType="VARCHAR" />
    	<result column="Enable" property="enable" jdbcType="VARCHAR" />
    	<result column="Priority" property="priority" jdbcType="INTEGER" />
    </resultMap>
	<sql id="Base_Column_List" >
   	 	Id, Url, HairId,Color, Gender, Enable,Priority
  	</sql>
  	
  <select id="FindByColor" resultMap="BaseResultMap" >
     	select 
     	<include refid="Base_Column_List" />
    	from hair
   		where Enable = '1' and Color = #{color,jdbcType=VARCHAR}
   		and Gender =#{gender,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertOrUpdate" >
      	  	insert into hair
  			(Id,
  			 Url,
  			 HairId,
  			 Color, 
  			 Gender, 
  			 Enable,
  			 Priority)
  			values
    	<foreach collection="hair"  item="item" index="index" separator=",">

               (#{item.id,jdbcType=INTEGER},
                #{item.url,jdbcType=VARCHAR},
                #{item.hairId,jdbcType=VARCHAR},
                #{item.color,jdbcType=VARCHAR},
                #{item.gender,jdbcType=VARCHAR},
                #{item.enable,jdbcType=VARCHAR},
                #{item.priority,jdbcType=INTEGER})
        </foreach>
        ON DUPLICATE KEY UPDATE 
        Url = VALUES(Url),
        HairId = VALUES(HairId),
        Color = VALUES(Color),
        Gender = VALUES(Gender),
        Enable = VALUES(Enable),
        Priority = VALUES(Priority)
        
  </insert >
  
  
</mapper>